<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-blog">
  <template>
    <style>

    </style>
<table>
    <tr>
      <td>
        Titulo
      </td>
      <td>
        Texto
      </td>
      <td>
        Fecha
      </td>
      <td>
        Autor
      </td>
      <tr>

  <tr>
    <td>
      <input type="text" name="Titulo" value="">
    </td>
    <td>
     <input type="text" name="Texto" value="">
    </td>
    <td>
     <input type="text" name="Fecha" value="">
    </td>
    <td>
     <input type="text" name="Autor" value="">
    </td>
    <td>
      <button type="button" name="button2" on-click="guardarPosts"> Guardar </button>
    </td>
  </tr>

</table>


<div><span><button type="button" name="button" on-click="loadPosts"> Recuperar </button></span></div>
<table>
  <tr>
  <th>Titulo</th>
  <th>Texto</th>
  <th>Fecha</th>
  <th>Autor</th>
</tr>

</table>

<template is="dom-repeat" items="[[posts]]">

  <tr>

  <td>{{item.titulo}}</td>
  <td>{{item.texto}}</td>
  <td>{{item.fecha}}</td>
  <td>{{item.autor.nombre}}</td>
</tr>

</template>

    </template>

    <script>
    Polymer ({

    is:'my-blog',
    properties: {
      posts: Array,

    },
    listeners: {

    },
    loadPosts: function(){

      const URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
      var response;
      var peticion = new XMLHttpRequest();
      peticion.open("GET", URL, false);
      peticion.setRequestHeader("Content-Type", "application/json");
      peticion.send();
      this.posts = JSON.parse(peticion.responseText);


    },

    guardarPosts: function(){

      const URL ="https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=r4_VScEto0eBs4PXFxOXkSSStxK4OU0C";
        var titulo = document.getElementsByName('Titulo')[0].value;
        var texto = document.getElementsByName('Texto')[0].value;
        var fecha = document.getElementsByName('Fecha')[0].value;
        var autor = document.getElementsByName ('Autor')[0].value;
        var peticion = new XMLHttpRequest();
        peticion.open("POST", URL, false);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.send('{"titulo":"'+ titulo+'","texto":"'+texto+'","fecha":"'+fecha+'", "autor":{"nombre":"'+autor+'"}}');

    }


})

    </script>

</dom-module>
