<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<dom-module id="my-ezequiel-micomponente">
  <template>
    <style>
    :host {
      display: inline-block;
    }
    </style>


<div><span> Mi primer componente Polymer </span></div>
<span> [[saludo]]</span>
<div><span> [[contador]]</span></div>

<template is="dom-repeat" items="[[listado]]">
<div>
  <h3>{{item.titulo}}</h3>
  <h4>{{item.texto}}</h4>
</div>
</template>
    </template>

    <script>
    Polymer ({

    is:'my-ezequiel-micomponente',
    properties: {
      saludo: String,
      contador: Number,
      listado: Array
    },
    listeners: {
      'tap': 'incrementar'
    },
    incrementar: function(){
      this.contador = this.contador + 1;
      this.listado.push(this.contador);
    }
    })

    </script>

</dom-module>
